.app {
    background-color:#D3D3D3;
    min-height: 100vh;
    height: auto;
}

.main-box{
    min-height: 90vh;
    background-color: white;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}