$base-color: #254c84;

$sidemenu-color: #c2f6f6;
$sidemenu-text-color: black;

$error-color: rgb(150, 10, 10);
$error-color-light: rgb(231, 176, 176);

#root {
  overflow-y: auto;
  min-height: 100vh;
  padding-top: 57.5px;
}

.app {
  background-color: #d3d3d3;
  height: auto;
}

.main-box {
  min-height: 90vh;
  max-width: 1300px;
  margin: auto;
}

// Navigation Bar css

.navbar-container {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 10;

  .navbar {
    font-size: large;
    background-color: $base-color;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: larger;
    margin-right: 1rem;
  }

  .active {
    color: white;
    font-weight: 400;
  }

  .nav-link {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

// Side menu Css

.sidemenu {
  .heading {
    background-color: $base-color;
    color: white;
  }

  .menu-item {
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: $sidemenu-color;
    color: $sidemenu-text-color;
  }

  .active {
    background-color: $sidemenu-color;
    border: none;
    color: $sidemenu-text-color;
    border-left: 5px solid $base-color;
    box-sizing: border-box;
  }
}

// Side boxes

.sidebox {
  .heading {
    background-color: $base-color;
    color: white;
  }
}

// Home css
.new-post-button {
  box-sizing: border-box;
  border: 1px solid white;
}

.new-post-button:hover {
  border: 1px solid $base-color;
}

.post-content {
  overflow-x: hidden;

  @media (min-width: 600px) {
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: $base-color;
      border-radius: 20px;
    }
  }

  p {
    margin: 0px !important;
  }
}

// LeaderBoard Css

.leaderboard-container {
  width: 100%;
  overflow-x: auto;

  a {
    text-decoration: none;
  }

  th {
    background-color: $base-color;
    color: white;
  }
}

// Errors Css

.error {
  width: 90%;
  max-width: 800px;
  background-color: $error-color-light;
  border: 1px solid $error-color;
  color: $error-color;
  border-radius: 10px;
  margin: auto;
}

// Cards

.custom-card {
  .circle-image {
    width: 65%;
    border-radius: 10rem;
    margin: auto;
    margin-top: 10px;
  }
}

.icon-top {
  position: relative;
  top: -2px;
}
// Boxes

.interview-box {
  background-color: white;
  height: 85vh;

  p {
    margin: 0px !important;
  }
}

.content-box {
  background-color: white;
  min-height: 85vh;
}

.center-box-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.center-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fixed-side-box {
  height: 87vh;
  background-color: white;
}

// Common Css

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.text-base {
  color: $base-color;
}

.h-90vh {
  height: 90vh;
}

.pointer {
  cursor: pointer;
}

.hover:hover {
  background-color: rgba(185, 184, 184, 0.281);
}

.font-sm {
  font-size: 0.9rem;
}

// Styling fixes

.row {
  margin: 0px;
}

a {
  text-decoration: none;
}

.ql-editor {
  min-height: 200px;
}
