.navbar-container{

    .navbar{
        font-size: large;
        background-color: #254c84;
    }

    .navbar-brand{
        font-weight: bold;
        font-size: larger;
    }

    .active{
        color: white;
        font-weight: 400;
    }
}

